In [10]:
import numpy as np

In [15]:
range_size = 9
arr = np.arange(range_size * range_size).reshape(range_size,range_size)

In [16]:
arr

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23, 24, 25, 26],
       [27, 28, 29, 30, 31, 32, 33, 34, 35],
       [36, 37, 38, 39, 40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49, 50, 51, 52, 53],
       [54, 55, 56, 57, 58, 59, 60, 61, 62],
       [63, 64, 65, 66, 67, 68, 69, 70, 71],
       [72, 73, 74, 75, 76, 77, 78, 79, 80]])

range(0, 3)

In [39]:
import math

rs = int(math.sqrt(range_size))
for I in range(rs): # row interval , [(0,3], (3,6] ]
    
    for J in range(rs): # column Interval
        
        for a in range(rs * J , rs * (J + 1)):
            for b in range(rs * I, rs * (I + 1)):
                print( arr[a][b])
        
        break

0
1
2
9
10
11
18
19
20
3
4
5
12
13
14
21
22
23
6
7
8
15
16
17
24
25
26

In [22]:
for i in range(range_size):
    r = []
    c = []
    for j in range(range_size):
        r.append(arr[j][i])
        c.append(arr[i][j])
    break

In [23]:
r

[0, 9, 18, 27, 36, 45, 54, 63, 72]

In [24]:
c

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
for i in range(3):
    for j in range(3):
#         print(i,j)
        for a in range(3 * i, 3 * (i + 1)):
            for b in range(3 * i, 3 * (j + 1)):
                print(a,b)
#             print(a)
    break # get complete row

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
0 0
0 1
0 2
0 3
0 4
0 5
1 0
1 1
1 2
1 3
1 4
1 5
2 0
2 1
2 2
2 3
2 4
2 5
0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8